# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Cracked Zombie Mod Config
# Michael Sheppard (crackedEgg)
# For Minecraft Version 1.8.0
# 
##########################################################################################################

general {
    # allowChildSpawns, set to true to have child zombies, otherwise set to false.
    B:allowChildSpawns=true

    # allow CrackedPigZombies to spawn
    B:allowPigZombieSpawns=true

    # doorBusting, set to true to have zombies try to break down doors, otherwise set to false. It's quieter.
    B:doorBusting=false

    # set true to enchant the sword given to the player
    B:enchantSword=false

    # maxPZSpawn, maximum number of crackedpigzombies per spawn event
    I:maxPZSpawn=2

    # maxSpawn, maximum number of crackedzombies per spawn event
    I:maxSpawn=1

    # minPZSpawn, minimum number of crackedpigzombies per spawn event
    I:minPZSpawn=1

    # minSpawn, minimum number of crackedzombies per spawn event
    I:minSpawn=1

    # set the radius in blocks for no spawning near torches, zero enables spawing near torches
    D:noSpawnTorchRadius=3.0

    # pigZombieSpawns allows/disallows vanilla pig zombies spawns, default is false,
    #  no vanilla minecraft pig zombies will spawn. Only the CrackedPigZombies will spawn.
    #  If set to true, fewer CrackedPigZombies will spawn.
    B:pigZombieSpawns=true

    # pigzombieSpawnProb adjust to probability of pigzombies spawning
    # The higher the number the more likely pigzombies will spawn.
    I:pigzombieSpawnProb=5

    # Pig Zombie Sickness, set to true to have contact with pigzombies poison the player.
    B:pzSickness=false

    # Sickness, set to true to have contact with zombies poison the player.
    B:sickness=true

    # creeperSpawns, set to false to disable creeper spawning, set to true if you want to spawn creepers
    B:spawnCreepers=true

    # endermanSpawns, set to false to disable enderman spawning, set to true if you want to spawn enderman
    B:spawnEnderman=true

    # skeletonSpawns, set to false to disable skeleton spawning, set to true if you want to spawn skeletons
    B:spawnSkeletons=true

    # slimeSpawns, set to false to disable slime spawning, set to true if you want to spawn slimes
    B:spawnSlime=true

    # spiderSpawns, set to false to disable spider spawning, set to true if you want to spawn spiders
    B:spawnSpiders=true

    # witchSpawns, set to false to disable witch spawning, set to true if you want to spawn witches
    B:spawnWitches=true

    # Allows the player to spawn with a random type sword, handy in the apocalypse!
    B:startWithSword=false

    # zombieSpawnProb adjust to probability of zombies spawning
    # The higher the number the more likely zombies will spawn.
    I:zombieSpawnProb=5

    # zombieSpawns allows/disallows vanilla zombies spawns, default is false,
    #  no vanilla minecraft zombies will spawn. Only the CrackedZombies will spawn.
    #  If set to true, fewer CrackedZombies will spawn.
    B:zombieSpawns=true
}


