# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=b5ecca34-388a-44cb-b17c-911551a58c08

    # Set to true to disable all reporting
    B:opt-out=false
}


